########################################
# Terraform
########################################
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

########################################
# Sensitive files
########################################
*.pem
*.key
terraform.tfvars

########################################
# OS / Editor
########################################
.DS_Store
Thumbs.db
.vscode/
.idea/

########################################
# Python (for your services)
########################################
__pycache__/
*.pyc
*.pyo
*.pyd

########################################
# Logs
########################################
*.log